name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main  # Pastikan ini sesuai dengan nama branch kamu

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build And Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          ###### PENGATURAN PENTING ######
          app_location: "/"          # Lokasi index.html di root
          api_location: ""           # Kosongkan jika belum ada API
          output_location: ""        # Harus kosong untuk HTML statis
          skip_app_build: true       # INI KUNCINYA untuk melewati error Oryx
          ###### ################## ######