- name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/"  # Lokasi index.html kamu
          output_location: "" # Biarkan kosong karena tidak ada folder hasil build
          skip_app_build: true # <--- TAMBAHKAN INI untuk memperbaiki error Oryx